%h1 Add Contact
- if is_new_record
  %form#add_contact{:method => "post"  , :class => "form-addcontacts"}
    = label_tag 'first_name'
    = text_field_tag 'contacts[first_name]'
    = label_tag 'last_name'
    = text_field_tag 'contacts[company]'
    = label_tag 'company'
    = text_field_tag 'contacts[title]'
    = label_tag 'title'
    = text_field_tag 'contacts[first_name]'
    = label_tag 'address'
    = text_area_tag 'contacts[address]' 
    = label_tag 'phone'
    = text_field_tag 'contacts[phone]'
    = label_tag 'mobile'
    = text_field_tag 'contacts[mobile]'
    = label_tag 'fax'
    = text_field_tag 'contacts[fax]'
    = label_tag 'email'
    = text_field_tag 'contacts[email]'
    = label_tag 'website'
    = text_field_tag 'contacts[website]'
    = label_tag 'facebook_id', 'FaceBook Id'
    = text_field_tag 'contacts[facebook_id]'
    = label_tag 'twitter_id', 'Twitter'
    = text_field_tag 'contacts[twitter_id]'
    = label_tag 'linked_in_id', 'LinkedIn'
    = text_field_tag 'contacts[linked_in_id]'
    = label_tag 'skype_id', 'Skype'
    = text_field_tag 'contacts[skype_id]'
    = label_tag 'google_id', 'Google Id'
    = text_field_tag 'contacts[google_id]'
    %br
    = submit_tag 'Add', :class => 'btn btn-primary'
